@font-face {
    font-family: 'Crimson Text';
    src: url('assets/fonts/Crimson\ Text.ttf');
}

@font-face {
    font-family: 'Crimson Text Italic';
    src: url('assets/fonts/Crimson\ Text\ Italic.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('assets/fonts/Work\ Sans.ttf');
}

html {
    --desktop: 800px;
    --black: #000;
    --dark-gray: #808080;
    --gray: #EEF0EF;
    --white: #FFF;
    --sans: 'Work Sans';
    --serif: 'Crimson Text';
    --serif-italic: 'Crimson Text Italic';
    font-family: var(--serif);
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: var(--black);
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}

button {
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 48px;
    color: var(--white);
    font: .825rem var(--sans);
    letter-spacing: 1px;
    padding: 10px 20px;
    &:hover {
        background-color: var(--white);
        border: 1px solid var(--black);
        color: var(--black);
        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font: 1.5rem var(--serif-italic);
}

input {
    font: 1rem var(--serif);
    padding: 2px 6px;
}

p, ul {
    margin: 0;
}

svg {
    height: 16px;
}

textarea {
    font: 1rem var(--serif);
    padding: 4px 6px;
}

.sans {
    font-family: 'Work Sans';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.serif-italic {
    font-family: var(--serif-italic);
}