@font-face {
    font-family: 'Crimson Text';
    src: url('assets/fonts/Crimson\ Text.ttf');
}

@font-face {
    font-family: 'Crimson Text Italic';
    src: url('assets/fonts/Crimson\ Text\ Italic.ttf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('assets/fonts/Work\ Sans.ttf');
}

html {
    --desktop: 800px;
    --black: #000;
    --blue: #0152C0;
    --dark-gray: #808080;
    --gray: #EEF0EF;
    --green: #005900;
    --navy: #003985;
    --red: #BF0000;
    --white: #FFF;
    --sans: 'Work Sans';
    --serif: 'Crimson Text';
    --serif-italic: 'Crimson Text Italic';
    --shadow: 0 4px 8px -2px var(--dark-gray);
    font-family: var(--serif);
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    color: var(--black);
    font-weight: bold;
    &:hover {
        text-decoration: none;
    }
}

button {
    background-color: var(--black);
    border: 1px solid var(--black);
    border-radius: 48px;
    color: var(--white);
    font: .825rem var(--sans);
    letter-spacing: 1px;
    padding: 10px 20px;
    &:disabled {
        background-color: var(--dark-gray);
        border: 1px solid var(--dark-gray);
        &:hover {
            background-color: var(--dark-gray);
            border: 1px solid var(--dark-gray);
            color: var(--white);
            cursor: default;
        }
    }
    &:hover {
        background-color: var(--white);
        border: 1px solid var(--black);
        color: var(--black);
        cursor: pointer;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font: 1.5rem var(--serif-italic);
}

hr {
    background-color: var(--black);
    height: .1px;
    margin: 0;
    width: 100%;
}

input {
    font: .875rem var(--sans);
    padding: 8px 12px;
}

p, ul {
    margin: 0;
}

select {
    border-radius: 4px;
    box-shadow: 0 1px 6px -2px var(--dark-gray);
    font: .875rem var(--sans);
    padding: 2px 0;
}

svg {
    height: 16px;
}

textarea {
    font: 1rem var(--serif);
    padding: 4px 6px;
}

.sans {
    font-family: 'Work Sans';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.serif-italic {
    font-family: var(--serif-italic);
}